/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

 #include <dt-bindings/zmk/matrix_transform.h>
 / {
     chosen {
         zephyr,display = &oled;
         zmk,kscan = &kscan0;
         zmk,matrix-transform = &default_transform;
     };
     kscan0: kscan0 {
         compatible = "zmk,kscan-gpio-matrix";
         diode-direction = "col2row";
         wakeup-source;
 
         col-gpios
             = <&gpio0 11 GPIO_ACTIVE_HIGH>
             , <&gpio1 04 GPIO_ACTIVE_HIGH>
             , <&gpio1 06 GPIO_ACTIVE_HIGH>
             ;
         row-gpios
             = <&gpio0 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
             , <&gpio0 24 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
             , <&gpio1 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
             ;
     };
 
     default_transform: keymap_transform0 {
         compatible = "zmk,matrix-transform";
         columns = <3>; // Length of the "col-gpios" array
         rows = <3>; // Length of the "row-gpios" array
         map = <
         //   Key 1 | Key 2 | Key 3
             RC(0,0) RC(0,1) RC(0,2)
         //   Key 4 | Key 5 | Key 6
             RC(1,0) RC(1,1) RC(1,2)
         //   Key 7 | Key 8 | Key 9
             RC(2,0) RC(2,1) RC(2,2)
         >;
     };
 };
 &pro_micro_i2c {
     status = "okay";
 
     oled: ssd1306@3c {
         compatible = "solomon,ssd1306fb";
         reg = <0x3c>;
         width = <128>;
         height = <32>;
         segment-offset = <0>;
         page-offset = <0>;
         display-offset = <0>;
         multiplex-ratio = <31>;
         segment-remap;
         com-invdir;
         com-sequential;
         prechargep = <0x22>;
     };
 };