# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_CHARYBDIST_LEFT
    def_bool $(shields_list_contains,charybdisT_left)

config SHIELD_CHARYBDIST_RIGHT
    def_bool $(shields_list_contains,charybdisT_right)