#include <physical_layouts.dtsi>

/ {
    charybdis_physical_layout: charybdis_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "charybdis";
        transform = <&default_transform>;
        kscan = <&kscan0>;
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   95       0     0     0>
            , <&key_physical_attrs 100 100  100   32       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300   29       0     0     0>
            , <&key_physical_attrs 100 100  400   42       0     0     0>
            , <&key_physical_attrs 100 100  500   95       0     0     0> //Extra Column
            , <&key_physical_attrs 100 100  700   42       0     0     0>
            , <&key_physical_attrs 100 100  800   29       0     0     0>
            , <&key_physical_attrs 100 100  900    0       0     0     0>
            , <&key_physical_attrs 100 100 1000   32       0     0     0>
            , <&key_physical_attrs 100 100 1100   95       0     0     0>
            , <&key_physical_attrs 100 100 1200  140       0     0     0>  // Extra column

            , <&key_physical_attrs 100 100    0  195       0     0     0>
            , <&key_physical_attrs 100 100  100  132       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  129       0     0     0>
            , <&key_physical_attrs 100 100  400  142       0     0     0>
            , <&key_physical_attrs 100 100  500  195       0     0     0>  // Extra column
            , <&key_physical_attrs 100 100  700  142       0     0     0>
            , <&key_physical_attrs 100 100  800  129       0     0     0>
            , <&key_physical_attrs 100 100  900  100       0     0     0>
            , <&key_physical_attrs 100 100 1000  132       0     0     0>
            , <&key_physical_attrs 100 100 1100  195       0     0     0>
            , <&key_physical_attrs 100 100 1200  240       0     0     0>  // Extra column

            , <&key_physical_attrs 100 100    0  295       0     0     0>
            , <&key_physical_attrs 100 100  100  232       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  229       0     0     0>
            , <&key_physical_attrs 100 100  400  242       0     0     0>
            , <&key_physical_attrs 100 100  500  295       0     0     0>  // Extra column
            , <&key_physical_attrs 100 100  700  242       0     0     0>
            , <&key_physical_attrs 100 100  800  229       0     0     0>
            , <&key_physical_attrs 100 100  900  200       0     0     0>
            , <&key_physical_attrs 100 100 1000  232       0     0     0>
            , <&key_physical_attrs 100 100 1100  295       0     0     0>
            , <&key_physical_attrs 100 100 1200  340       0     0     0>  // Extra column

            , <&key_physical_attrs 100 100    0  395       0     0     0>  // New row
            , <&key_physical_attrs 100 100  100  332       0     0     0>  // New row
            , <&key_physical_attrs 100 100  200  300       0     0     0>  // New row
            , <&key_physical_attrs 100 100  300  329       0     0     0>  // New row
            , <&key_physical_attrs 100 100  400  342       0     0     0>  // New row
            , <&key_physical_attrs 100 100  500  395       0     0     0>  // New row
            , <&key_physical_attrs 100 100  700  342       0     0     0>  // New row
            , <&key_physical_attrs 100 100  800  329       0     0     0>  // New row
            , <&key_physical_attrs 100 100  900  300       0     0     0>  // New row
            , <&key_physical_attrs 100 100 1000  332       0     0     0>  // New row
            , <&key_physical_attrs 100 100 1100  395       0     0     0>  // New row
            , <&key_physical_attrs 100 100 1200  440       0     0     0>  // Extra column + New row

            , <&key_physical_attrs 100 100  330  455    1500   430   455>
            , <&key_physical_attrs 100 100  450  455    3000   430   455>
            , <&key_physical_attrs 100 100  560  455    4000   430   455>
            , <&key_physical_attrs 100 100  560  455 (-4000)   770   455>
            , <&key_physical_attrs 100 100  670  455 (-3000)   770   455>
            , <&key_physical_attrs 100 100  790  455 (-1500)   770   455>
            ;
    };
};
